*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  text-align: center;
  background-color: #66CCFF;
}

.navbar ul{
    display: inline-flex;
    list-style: none;
}

.navbar ul li {
    width: 130px;
    margin: 15px;
    padding: 15px ;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
}

.active, .navbar ul li a:hover {
  color: blue;
}

.items{
  display: none;
}

.navbar ul li:hover .items{
  display: block;
  position: absolute;
  margin: 15px 0 0 0px;
  background-color:  #66CCFF;
}

.navbar ul li:hover .items ul{
  display: block;
  margin: 10px;
}

.navbar ul li:hover .items ul li{
  width: 150px;
  padding: 10px;
  border-bottom: 1px dotted white;
  background: transparent;
  border-radius: 0;
  text-align: left;
}

.navbar ul li:hover .items ul li:last-child{
  border-bottom:none;
}
